:root {
  --primary-bg-color: #141A46; /* Dark navy blue */
  --text-color: #CCCCCC; /* Dark gray */
  --accent-color: #FFD700; /* Soft gold */
}
}


/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--primary-bg-color);
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  animation: headerFadeIn 1s ease-in-out;
}

.name {
  margin: 0;
  font-size: 2.5rem;
  animation: nameFadeIn 2s ease-in-out;
}

/* Main Styles */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Set width to half of the grid */
  height: 100%;
  background-color: #f0f0f0; /* Initial background color */
  z-index: -1; /* Place behind other content */
  animation: colorChange 8s infinite alternate; /* Define animation */
}

/* Article Styles */
article {
  padding: 30px;
  animation: articleFadeIn 2s ease-in-out;
  background-color: #1a2152;
  border-radius: 10px;
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
  animation: titleFadeIn 2s ease-in-out;
}

.nav-links {
  margin-bottom: 20px;
}

.nav-link {
  text-decoration: none;
  color:var(--text-color);
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ddd;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
  background-color: #888;
  color: #ff0000;
}

.intro {
  font-size: 1.1rem;
  line-height: 1.6;
  position: relative;
  overflow: hidden; 
}



/* Aside Styles */
aside {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  max-width: 100%;
  height: auto;
  animation: profilePicFadeIn 2s ease-in-out;
}

/* Animations */
@keyframes headerFadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes nameFadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes mainFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes articleFadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes titleFadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes profilePicFadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes colorChange {
  0% { background-color: #ffffff; } /* Start color */
  100% { background-color: #D8BFD8; } /* Midway color */
  
}

